.image-container {
    position: absolute;
    height: 200px;
    width: 250px;
    border: 2px solid #d4bf91;
    border-radius: 2px;
    right: 50%;
    top: 25%;
    transform: translateX(50%);
    text-align: center;
  }
  .image-card {
    position: absolute;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  